@keyframes ticktop {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: calc(20px * 0.77);
    }
}
@keyframes tickbottom {
    0% {
        height: 0;
    }
    100% {
        height: calc(20px * 0.48);
    }
}
input[type="checkbox"] {
    display: none;
}
.check-item {
    position: relative;
    margin-bottom: 9px;

    will-change: opacity;
    transition: opacity .3s;
}
.check-item.disabled {
    opacity: 0.3;
}
.check-box {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: calc(20px * 0.05) solid #737373;
    border-radius: calc(20px * 0.12);
    position: relative;
    /*top: 4px;*/
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease calc(.3s);
    cursor: pointer;
    margin-right: 10px;
}
.check-box:hover {
    border-color: #44d62c;
}
.disabled .check-box:hover {
    border-color: #737373;
    cursor: default;
}
.check-box::before,
.check-box::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: calc(20px * 0.15);
    background-color: rgba(0,0,0,0.3);
    background-color: #111;
    display: inline-block;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: calc(20px * 0.12);
    content: " ";
    -webkit-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}
.check-box::before {
    top: calc(20px * 0.82);
    left: calc(20px * 0.43);
    /*box-shadow: 0 0 0 calc(20px * 0.05) #111;*/
    -webkit-transform: rotate(-145deg);
    transform: rotate(-145deg);
}
.check-box::after {
    top: calc(20px * 0.51);
    left: calc(20px * 0.04);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
input[type="checkbox"]:checked + .check-box,
.check-box.checked {
    border-color: #44d62c;
    background-color: #44d62c;
}
input[type="checkbox"]:checked + .check-box::after,
.check-box.checked::after {
    height: calc(20px * 0.48);
    animation: tickbottom calc(.2s/2) ease 0s forwards;
}
input[type="checkbox"]:checked + .check-box::before,
.check-box.checked::before {
    height: calc(20px * 0.77);
    animation: ticktop .2s ease 0s forwards;
}
.check-text {
    display: inline-block;
    font-size: 14px;
    color: #ccc;
    text-align: left;
    line-height: 17px;
    max-height: 20px;
    position: absolute;
    top: 2px;
    /*text-transform: capitalize;*/
    left: 30px;
    width: 500px;
    display: block;
}
.check-text:first-letter {
    text-transform: uppercase;
}
.check-item.indent:before {
    content: "";
    width: 13px;
    height: 14px;
    display: inline-block;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
    position: relative;
    top: -10px;
    left: 9px;
    margin-right: 11px;
}