.switch {
	width: 32px;
	height: 18px;
	border-radius: 16px;
	padding: 2px;
	background-color: #707070;
	position: relative;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.3);

	will-change: background-color;
	transition: background-color .3s;
}
.widget .title .switch {
	position: relative;
	top: 3px;
	left: 10px;
}
.switch:hover {
	opacity: 0.7;
	cursor: pointer;
}
.switch.on {
	background-color: #44d62c;
}
.switch .handle {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: #111;

	will-change: left;
	transition: left .2s;
}
.switch.on .handle {
    left: 15px;
}